# Byte-compiled / cached
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/
pip-wheel-metadata/
*.egg-info/

# Python packaging
build/
dist/
*.egg
*.whl

# uv / poetry / other lock/temp
uv.lock
.venv/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# MLflow local db/artifacts
mlflow.db
mlruns.db
mlruns/
model_tracking

# dataset, trained models and large output
data/*
!data/.gitkeep
best_models/*
!best_models/.gitkeep

# Notebook graphviz output
notebooks/_graph_out/

# logs
*.log

# IDE & editor
.idea/
*.sublime-project
*.sublime-workspace

# Optional user settings
*.env
*.local

*.txt
*.pdf
